body {
    font-family: 'open-sans' sans-serif;
}

.land-page {
    background-image: url('/static/IMAGES/h_img.jpg');
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 15%;
}

.services {
    background-image: url('/static/IMAGES/s_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hidden-info {
    display: none;
}

.card p {
    color: white;
    font-size: 28px;
    font-weight: 700;
    line-height: 5.5;
}

.contact {
    background-image: url('/static/IMAGES/c_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.form-info h3 {
    text-align: center;
    color: white;
    padding-top: 10px;
}

form {
    display: block;
    margin-top: 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

#message,
input[type=name],
input[type=email] {
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

button {
    border-radius: 4px;
    width: 200px;
}

.footer {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}